* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inconsolata", monospace;
}

.navbar {
    background: #000000;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    width: 100%;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    background: linear-gradient(to top, #ae00ff 0%, #edb4eb 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    white-space: nowrap;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__links {
    color: #eb5ddc;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.column {
    padding: 30px;
    height: 100vh;
}

.right {
    flex: 0.9;
    background-color: #eb5ddc;
    height: 100vh;
    overflow-y: auto;
    padding-right: 30px;
    text-align: right;
}
.right2 {
    flex: 0.9;
    background-color: white;
    height: 25vh;
    overflow-y: auto;
    padding-right: 10px;
    text-align: right;
}

.header-image {
    max-width: 100%;
    height: auto;
    margin-top: 80px;
}

.main__content p {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
}

.column-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
}

.inconsolata {
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 87.5;
}

 